.header {
    display: flex;
    background-color: blueviolet;
}

.title {
    font-weight: 900;
    font-size: 48px;
    color: #F9FAF8;
}

. navbar {
    display: flex;
}

ul {
    display: flex;
    list-style-type: none;
    
}

a {
    text-decoration: none;
}