body {
    margin: 0px;
    display: flex;
    flex-direction: column  ;
}

.header {
    display: flex;
    background-color: #1F2937;
}

.title {
    /* padding: 10px; */
    flex: 1;    
    font-weight: 900;
    font-size: 48px;
    color: #F9FAF8;
}

/* deciding on concept */
.logo{


}

.main-text {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.secondary-text {
    font-size: 18px;
    color: #E5E7EB ;
}


.navbar {
    flex: 1;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 10px;
    padding: 10px;

}

a {
    color: #F9FAF8;
    text-decoration: none;
}

/* primary content */
.content-primaris {
    display: flex;
    background-color: #1F2937;
    padding: 40px;
    justify-content:space-around;

}

.description-content {

    display: flex;
    flex-direction: column;
}


/* placeholder image */
.box {
    border: blueviolet;
    width: 500px;
    height: 300px;
    background-color: #F9FAF8;
}



button{
    background-color: #3882f6;
    color: #F9FAF8;
}


/* secondary content */
.content-secondus {
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content:space-around;

}

.secondus-header {
    font-size: 38px;
    color:#1F2937;
    font-weight: 900;
    align-self: center;
    padding: 10px;
    
}

.card {
    width: 200px;
    display: flex;
    flex-direction: column;
}

.card-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 10px;
 
}

.card-image {
    width: 200px;
    height: 400px;
    background-color: #1F2937;
}

/* quote content */
.quote-content {
    display: flex;
    background-color: #E5E7EB;
    flex: 1 1 250px;
    justify-content: center;
    align-items: center;
    padding: 50px;

}

.quote-text {
    font-size: 36px;
    font-weight: light;
    font-style: italic;
    color:#1F2937;
}

/* sign-up content */
.enrol-content {

}

.signup-box {}

.signup-button {

}

.footer {
    
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    font-size: 18px;
    color: #E5E7EB;
}